
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 48, 48)
  }


#sideNav {
  width: 200px;
  height: 530px;
  position: absolute;
  left: -200px;
  top: 100%;
  background: rgb(0, 0, 100);
  z-index: 1;
  transition: 1s;
  overflow-x: hidden;
  overflow-y: scroll; 
}

  
#sideNav ul li {
  list-style: none;
  padding: 1em;
  border-bottom: 0.5px solid white;
  border-radius: 5px;
}

#sideNav ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
#sideNav ul li:hover {
  background: rgb(0, 100, 10);
  transform: scale(1.03);
  transition: all 0.9s ease;
}
#menuBtn {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0.5em;
  top: 15%;
  border-radius: 3px;
  position: absolute;
  z-index: 3;
}
#menuBtn img {
  width: 40px;
  height: 40px;
  left: 1px;
  margin-top: 5px;
}

#menuBtn img:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgb(61, 60, 60));
}

@media screen and (max-width: 600px) {
  .banner-title h1 {
    font-size: 24px;
    font-weight: bold;
}
}

.head-title h2 {
  font-size: 16px;
}
header {
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  background: rgb(0, 0, 100);
  background-position: center;
  width: 100%;
  left: 0;
  transition: all 2s ease-in-out;
  box-shadow: 0 0 20px 5px darkblue;
  z-index: 1;
}

#head-wrapper {
  display: inline;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  margin-left: 4em;
  }
.head-container {
  padding: 1px;
  display: flex;
  flex-wrap: nowrap;
}

img {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 0.5em;
}

.head-title h4 {
  position: relative;
  top: 40%;
  color: white;
  border: 1px solid black;
}

#banner {
  
  display: block;
  flex-wrap: nowrap;
  background: linear-gradient(rgba(0,0,0,0.3), rgb(0, 0, 100)),url("background-pattern.png");
  background-size: cover;
  background-position: center;
  padding: 5em;
  
}

.banner-title {
  text-align: center;
  color: white;
}
.banner-title h1 {
  font-size: 35px;
  font-weight: bold;
  padding: 0.5em;
}

 /*--navigation bar--*/


.menu-bar {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
}

.menu-bar ul .menu-bar li {
  margin: 5px;
  padding: 0px;
  
}
.menu-bar ul {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  
}
.menu-bar li {
  position: relative;
  float: left;
  width: auto;
  padding: 10px 20px;
  
  }
.menu-bar a {
  display: block;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-align: left;
}

.menu-bar ul li:hover {
  background: rgb(0, 90, 0);
  border-radius: 5px;
  transform: scale(1.03);
  transition: all 0.8s ease;
}

.dropdwn-content {
  display: none;
  position: absolute;
  visibility: hidden;
}

.dropdwn-content li {
  margin: 0.5em;
  list-style: none;
  border-bottom: 1px solid white;
}
.dropdwn-content a {
  width: 215px;
  font-size: 15px;
  }

.menu-bar ul li:hover .dropdwn-content {
  display: block;
  position: absolute;
  background: linear-gradient(rgba(0,0,0,0.5), rgb(0, 100, 0));
  opacity: 1;
  visibility: visible;
  margin-top: 12px;
  margin-left: -20px;
  width: 270px;
}

.menu-bar ul li:hover .dropdwn-content a {
  display: block;
}

.menu-bar ul li:hover .dropdwn-content ul  {
  width: auto;
  padding: 5px;
  
  }

@media screen and (max-width: 600px) {
  .menu-bar ul li{
    font-size: 12px;
}
}



/*--about section--*/

#about {
  width: 100%;
  padding: 30px 0;
  background-color: rgb(241, 244, 251);

}
.section-title {
  text-align: center;
  padding-bottom: 50px;
}

.section-title h1 {
  font-size: 36px;
  color: darkblue;
  font-weight: bold;
}

/*--card section--*/

#card-container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  width: 80%;
  border-bottom: 1px solid gray;

}
.card {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  padding: 5px 5px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 5px 5px;
  text-align: center;
  background-color: linear-gradient(rgba(0, 0, 0, 0.4) rgb(62, 62, 62));
  background-position: center;
}

.cards-image {
  background-size: cover;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 5px;

}
.card-1 {
  background-image: url("sister-city.png");

}

.card-2 {
  background-image: url("partnership.png");

}

.card-3 {
  background-image: url("diaspora.png");
}

.card-4 {
  background-image: url("know-tech.png");
}

.card:hover {
  background-color: rgb(0, 0, 100);
  color: white;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.06);
  transition: all 2s ease;
}

h3 {
  color: black;
  text-shadow: none;
}
  
.card:hover h3 {
  color: white;
  }

.card p {
  color: black;
  text-shadow: none;
  font-size: 14px;
  
}
.card:hover p {
  color: white;
  }
/*--news section--*/
  

/*--footer section--*/

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 5px 5px 5px 5px;
}

.row { 
  width: 100%; 
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 15px;
  color: white;
  background: rgb(0, 0, 100);

}

.col {
  flex-basis: 20%;
  padding: 5px;
  margin: 2em 0.5em 0;
  box-sizing: border-box;
  

}
.col a {
  color: white;
  text-decoration: none;
  
}

.col h3 {
  width: 100%;
  position: relative;
  color: white;
  font-weight: bold;
  box-sizing: border-box;

}
.email-id {
  width: 100%;
  margin: 1em 0 1em;
}

.col ul li {
  list-style: none;
  margin: 0 0 1.5em;
  
}
.col ul li a {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}
.col ul li a:hover {
  text-decoration: underline;
  color: gold;
  transform: scale(1.04);
  transition: all 0.8s ease;
}

input {
  padding: 0.5em;
  border-radius: 5px;
  box-sizing: border-box;
}
button {
  color: white;
  font-size: 13px;
  background: rgb(0, 0, 100);
  padding: 0.5em;
  margin-left: 0.5em;
  border-radius: 5px;

}

button:hover {
background: rgb(0, 100, 20);
cursor: pointer;
transform: scale(1.04);
}
.row-bottom {
background: rgb(0, 0, 100);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
text-align: center;
}
.row-bottom p {
width: 75%;
margin-left: 12%;
margin-right: 12%;
color: white;
padding: 0.5em;
border-top: 1px solid white;
}
.row-bottom a {
color: white;
}
.row-bottom a:hover {
color: gold;
}
